# Vivado outputs
.cache
.Xil
*.jou
*.log
*.dcp
*.str
*.wdb
*.pb
xsim.dir

# Build outputs
build/
bitstream/

# Location to create project if desired
proj/

ip/*/*
!ip/*/*.xci
!ip/*.xcix
!ip/managed_ip_project/managed_ip_project.xpr

# All block design output except IP
src/bd/*/*
!src/bd/*/*.bd
!src/bd/*/*.bxml
!src/bd/*/ip
src/bd/*/ip/*/*
!src/bd/**/ip/*/*.xci
!src/bd/**/ip/*.xcix

# Archived output of project and block design
project.tar.gz
bd.tar.gz
